*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before{
  box-sizing: initial;
}
/* font s */
@font-face {
  font-family: "Lato_Black";
  src: url("../font/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato_Bold";
  src: url("../font/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato_Regular";
  src: url("../font/Lato-Regular.ttf");
}
/* typography */
header, section, footer, main{
  width: 100%;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
}
.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.para{
  font-family: Lato_Regular;
  font-size: 16px;
  line-height: 19px;
}
a{
  color: #000;
  display: inline-block;
  text-decoration: none;
}
.catagory{
  font-family: Lato_Regular;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  background: #ce0393;
  padding: 4px 10px;
  border-radius: 25px;
  text-transform: uppercase;
}
.date_p{
  font-family: Lato_Regular;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}
.top_heading_section{
  width: 100%;
}
.top_heading_section h1{
  width: 100%;
  font-family: Lato_Black;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.top_heading_section progress{
  width: 100%;
}
.progress_bar{
  width: 100%;
  height: 9px;
  background-color: #d5d5d5;
}
.progress_bar .progress{
  width: 10%;
  height: 100%;
  background-color: #ce0393;
}
/* heading */
#top_heading{
  background-color: #ce0393;
}
.top_hea_con{
  padding: 0px 0px;
}
.top_hea_con .top_left_sec{
  flex-basis: 35%;
  align-items: center;
}
.top_left_sec .l_t_s_child{
  flex: 0 0 45%;
}
.l_t_s_child i{
  color: #fff;
  font-size: 23px;
  margin-right: 5px;
}
.l_t_s_child .para{
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.top_hea_con .top_right_sec{
  flex-basis: 40%;
  align-items: center;
  overflow: hidden;
}
.top_right_sec .nav{
  width: 100%;
}
.top_right_sec .nav a{
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.72);
  padding: 20px 0px;
  flex: 1 0 25%;
  text-transform: uppercase;
}
.top_right_sec .nav a:first-child{
  border-left: 1px solid rgba(255, 255, 255, 0.72);
}
/* heading bottom section */
#bottom_heading{
  background-color: #fff;
}
.bot_hea_con{
  padding: 15px 0px;
  align-items: center;
}

/* brand icon */
.bot_hea_con .brand{
  flex: 0 0 25%;
  align-items: center;
}
.bot_hea_con .brand figure{
  flex: 0 0 15%;
  display: inline-block;
}
.bot_hea_con .brand figure img{
  width: 80%;
}
.bot_hea_con .brand h1{
  display: inline-block;
  width: 80%;
  font-family: Lato_Black;
  font-size: 26px;
  line-height: 26px;
  color: #cc0099;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.bot_hea_con .brand h1 span{
  color: #494949;
}
/* nav bar */
.bot_hea_con .nav{
  flex: 0 0 35%;
}
.bot_hea_con .nav a{
  font-family: Lato_Bold;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  flex: 0 0 15%;
}
/* social nav bar */
.bot_hea_con .social_nav{
  flex: 0 0 22%;
}
.bot_hea_con .social_nav a{
  flex: 0 0 12%;
  align-items: center;
  padding: 0px 8px;
}
.bot_hea_con .social_nav a i{
  color: #ce0393;
}
/* main section */
#main_section{
  background-color: #f1f1f1;
}
.main_container{
  padding: 45px 0px 0px 0px;
}
/* left highlight post */
.main_container .left_post{
  flex: 1 0 65%;
  padding: 50px 50px;
  background: transparent url("../img/left_highlight.png") no-repeat 0 0;
  background-size: 100% 100%;
  border-bottom: 5px solid #ce0393;
}
.left_post .left_post_art{
  padding-top: 300px;
}
.left_post .left_post_art h1{
  font-family: Lato_Bold;
  color: #fff;
  font-size: 27px;
  line-height: 27px;
  line-height: auto;
  text-transform: uppercase;
}
.left_post_art .sec_wrap{
  justify-content: flex-start;
  margin-top: 13px;
}
.sec_wrap .catagory_wrapper{
}
.sec_wrap .date{
  margin-left: 40px;
}
.left_post .left_post_art .sec_wrap .date .para{
  margin-top: 0px;
}
.left_post .left_post_art .para{
  margin-top: 15px;
  color: #fff;
  line-height: 19px;
}
/* right highlight post */
.main_container .right_posts{
  flex: 1 0 35%;
  display: flex;
  flex-flow: column wrap;
}
.right_posts .right_mini_post{
  width: 100%;
  height: 33.3%;
  padding: 15px 15px 10px 20px;
}
.right_posts .right_mini_post:nth-child(1){
 background: transparent url("../img/right_highlight_one.png") no-repeat 0 0;
 background-size: 100% 100%;
}
.right_posts .right_mini_post:nth-child(2){
 background: transparent url("../img/right_highlight_two.png") no-repeat 0 0;
 background-size: 100% 100%;
}
.right_posts .right_mini_post:nth-child(3){
 background: transparent url("../img/right_highlight_three.png") no-repeat 0 0;
 background-size: 100% 100%;
}
.right_mini_post_art h1{
  font-family: Lato_Bold;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
}
.right_mini_post .catagory_wrapper{
  text-align: right;
}
.right_mini_post .right_mini_post_art{
  padding-top: 85px;
}
.right_mini_post_art .date{
  margin-top: 5px;
}
/* breaking news  section */
#breaking_news{
  background-color: #fff;
}
.break_news_container{
  padding: 25px 0px;
  border-bottom: 1px solid rgba(73, 73, 73, 0.2);
}
.break_news_container .wrapper{
}
.break_news_container .wrapper .para span{
  font-family: Lato_Black;
  font-size: 17px;
  color: #ce0393;
  text-transform: capitalize;
}
.break_news_container .wrapper .para{
  color: #3b3b3b;
  font-size: 17px;
}
/* all news posts */
#news_posts{
  background-color: #fff;
}
.news_posts_container{
  padding: 0px 0px;
}

/* left side */
.news_posts_container .news_left_side{
  flex: 0 0 60%;
}






/* right side */
.news_posts_container .news_right_side{
  flex: 0 0 35%;
  height: 100%;
}




/* both  side */
.news_both_side .both_hea_sec{
  padding: 30px 0px 40px 0px;
}
.news_both_side .both_hea_sec h1{
  font-family: Lato_Black;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}
.progress_bar{
  margin-top: 20px;
}
/* all posts */
.post_wrapper{
  padding-bottom: 50px;
}
.post_wrapper .posts:first-child{
  padding-top: 0px;
}
.post_wrapper .posts{
  width: 100%;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px solid #c7c7c7;
}
.post_wrapper .posts:last-child{
  border-bottom: 1px solid transparent;
  padding-bottom: 0px;
}

.posts figure{
  flex-basis: 38%;
}
.posts figure img{
  width: 100%;
}
.posts .post_art{
  flex-basis: 56%;
}
/* post article */
.post_art .post_heading{
  font-family: Lato_Bold;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
.post_art .sec_wrap{
  margin-top: 15px;
  justify-content: flex-start;
}
.post_art .sec_wrap .date{
  margin-left: 22px;
}
.posts .sec_wrap .date .date_p{
  color: #000;
}
.post_art .para{
  margin-top: 15px;
  text-align: justify;
}
.post_art .date .para{
  margin-top: 0px;

}
/* news right side */
.news_right_side{}
.news_right_side .news_right_post_wrapper{}
.news_right_post_wrapper .mini_top_posts{
  height: 60%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}
.mini_top_posts .posts{
  padding: 38px 0px 38px 0px;
}
.mini_top_posts .posts{
  border-bottom: 1px solid #c7c7c7;
}
.mini_top_posts .posts:first-child{
  padding-top: 0px;
}
.mini_top_posts .posts:last-child{
  padding-bottom: 0px;
  border-bottom: 1px solid transparent;
}
.mini_top_posts .posts figure{
  flex: 0 0 30%;
}
.mini_top_posts .posts figure img{
  width: 100%;
  height: 100%;
}
.mini_top_posts .posts .posts_art{
  flex: 0 0 65%;
}
.mini_top_posts .posts .posts_art h3{
  font-family: Lato_Bold;
  font-size: 15.5px;
  text-transform: uppercase;
}
.mini_top_posts .posts .posts_art .catagory{
  margin-top: 5px;
}
.mini_top_posts .posts .posts_art .date{
  margin-top: 5px;
}
.mini_top_posts .posts .posts_art .date .date_p{
  color: #323131;
}
/* bottom posts */
.mini_bottom_post{
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.mini_bottom_post .both_hea_sec{
  margin-top: 50px;
}
/* upcomign post */
.mini_bottom_post .upcoming{
  background: transparent url(../img/upcoming.png) no-repeat top center;
  background-size: 100% 65%;
  height: 22vw;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.upcoming .artic{
  width: 87%;
  margin: 0 auto;
  background-color: #fff;
}
.upcoming .artic h3{
  font-family: Lato_Bold;
  font-size: 15.5px;
  text-transform: uppercase;
  width: 85%;
  margin-left: 20px;
  padding-top: 15px;
}
.upcoming .artic .sec_wrap{
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}
.upcoming .artic .sec_wrap .catagory_wrapper{

}
.artic .sec_wrap .date{
  margin-left: 0px;
}
.artic .sec_wrap .date .date_p{
  margin-left: 0px;
  color: #000;
  margin-top: 0px;
}
.upcoming .artic .para{
  width: 85%;
  margin: 0 auto;
  text-align: justify;
  margin-top: 10px;
}
/* advertisement */
.mini_bottom_post .advertise{
  width: 100%;
  height: 20vw;
  margin-top: 50px;
}
.mini_bottom_post .advertise figure{
  width: 100%;
  height: 100%;
}
.mini_bottom_post .advertise figure img{
  width: 100%;
  height: 100%;
}
/* <!-- advices from our dedicated authore --> */

#advice{
  background-color: #f1f1f1;
}
.advice .advice_container{

}
.advice_container .adv_cont_heading{

}
.adv_cont_heading h1{
  font-family: Lato_Black;
  font-size: 30px;
  line-height: 30px;
  color: #454343;
  text-align: center;
  text-transform: uppercase;
}
.adv_cont_heading .progress_bar{
  width: 35%;
  margin: 0 auto;
  height: 5px;
  margin-top: 25px;
}
.adv_cont_heading .progress_bar .progress{
  height: 100%;
}
.adv_cont_heading .para{
  margin-top: 20px;
  text-align: left;
  color: #8e8e8e;
}
/* advice post wrapper */
.advice_container .advice_post_wrapper{
  margin-top: 40px;
}
.advice_post_wrapper .advice_posts{
  flex: 0 0 31.5%;
  background-color: #fff;
}
.advice_posts figure{
  width: 100%;
}
.advice_posts figure img{
  width: 100%;
}
.advice_posts .advice_post_art{
  padding: 15px 10px 15px 10px;
}
.advice_posts .advice_post_art h3{
  font-family: Lato_Bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
}
.advice_posts .advice_post_art h3{

}
.advice_post_art .sec_wrap{
  margin-top: 7px;
}
.advice_post_art .sec_wrap .date{
  margin-left: 0px;
}
.advice_post_art .sec_wrap .date .date_p{
  color: #000;
}
/* footer link */
#footer_link{
  background-color: #242424;
}
.footer_link_container{}
.footer_link_container .child{
  flex: 0 0 31.5%;
}
.child .adv_cont_heading{

}
.child .adv_cont_heading h1{
  color: #fff;
}
.child .adv_cont_heading .progress_bar{
  width: 100%;
}
.child .para{
  margin-top: 50px;
  color: #898989;
}
.child .contact_container{
  margin-top: 40px;
  margin-bottom: 45px;
}
.child .contact_container .contact_child{
  width: 80%;
  margin-top: 30px;
}
.child .contact_container .contact_child:first-child{
  margin-top: 0px;
}
.contact_child figure{
  flex: 0 0 10%;
}
.contact_child figure img{
 width: 90%;
}
.contact_child .con_chi_para{
  flex: 0 0 80%;
}
.contact_child .con_chi_para p, .contact_child .con_chi_para a{
  font-family: Lato_Bold;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.contact_child .con_chi_para p:last-child, .contact_child .con_chi_para a:last-child{
  margin-top: 5px;
}
.child .social_nav_wrap{
  padding-top: 40px;
  width: 100%;
  border-top: 1px solid #525050;
}
.child .social_nav{
  width: 80%;
}
.social_nav a{

}
.social_nav a i{
  font-size: 25px;
  color: #ce0393;
}
/* popular posts */
.child .popular_post_wrap{
  margin-top: 50px;
}
.popular_post_wrap .posts{
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #525050;
}

.popular_post_wrap .posts:first-child{
  padding-top: 0px;
  border-top: 1px solid transparent;
}
.popular_post_wrap .posts:last-child{
  padding-bottom: 0px;
}


.popular_post_wrap .posts figure{
  flex: 0 0 35%;
}
.popular_post_wrap .posts figure img{

}
.popular_post_wrap .posts_art{
  flex: 0 0 60%;
}
.posts_art h3{
  font-family: Lato_Bold;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
.posts_art .catagory{
  margin-top: 5px;
}
.posts_art .date{
  margin-top: 5px;
}
.posts_art .date .date_p{
  margin-top: 0px;
  color: #fff;
}
/* newlerrer form */
.child .news_letter_container{
  margin-top: 50px;
  padding-bottom: 26.5px;
  border-bottom: 1px solid #525050;
}
.news_letter_container .input_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.news_letter_container .input_wrapper input{
  padding: 12px 20px;
  border-radius: 30px;
  border-width: 0px;
  background-color: #fff;
}
.news_letter_container .input_wrapper input[type="email"]{

}
.news_letter_container .input_wrapper input[type="submit"]{
  font-family: Lato_Bold;
  color: #494949;
  background-color: #ce0393;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  width: 45%;
  color: #fff;
  margin-top: 15px;
}
.news_letter_container .input_wrapper input::placeholder{
  font-family: Lato_Bold;
  color: #494949;
  font-size: 13px;
  text-transform: capitalize;
}
/* catagory */
.child .catagory_process{
  margin-top: 25px;
}
/* link section */
.child .link_container{
  margin-top: 40px;
}
.child .link_container .link_wrap{
  overflow: hidden;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;

}
.child .link_container .link_wrap a{
  text-transform: uppercase;
  color: #FFF;
  margin-top: 20px;
  font-size: 14px;
}
/* footer */
#footer{
  background-color: #191919;
}
.footer_container{
  padding: 20px 0px;
}
.footer_container p{
  flex-basis: 40%;
}
.footer_container .foot_link_wrap{
  flex-basis: 25%;
}
.footer_container p{
  font-family: Lato_Bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.footer_container .foot_link_wrap a{
  font-family: Lato_Bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}



/*

Lato_Black
Lato_Bold
Lato_Regular

 */






















































/*  */
