/* fonts */
@font-face {
  font-family: "latobold";
  src: url("../font/Lato-Bold.ttf");
}
@font-face {
  font-family: "latoheavy";
  src: url("../font/Lato-Heavy.ttf");
}
@font-face {
  font-family: "lato";
  src: url("../font/Lato-Regular.ttf");
}
@font-face {
  font-family: "LeckerliOne";
  src: url("../font/LeckerliOne-Regular.otf");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("../font/Montserrat-Black.otf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../font/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
}


/* typography */
.mont_black{
  font-family: MontserratBlack;
}
.mont_bold{
  font-family: MontserratBold;
}
.mont_regular{
  font-family: Montserrat;
}
.lato_bold{
  font-family: latobold;
}
.lato_heavy{
  font-family: latoheavy;
}
.lato_regular,
.para{
  font-family: lato;
}
.pach_italic,
.custom-italic{
  font-family: LeckerliOne;
}

.bg-neel{
  background-color: #0081ff!important;
}
.neel{
  color: #0081ff!important;
}
a{
  display: inline-block;
  text-decoration: none!important;
}
.btn_wrap{
  text-align: center;
}
.custom_btn{
  padding: 6.5px 25px;
  text-align: center;
  color: #fff!important;
  font-family: lato;
  border-radius: 30px;
}


/* head and main section */
#main-head-wrap{
  background: url("../img/main_background/mb-xs.png") no-repeat center center;
  background-size: 100% 100%;
}

/* head sec style */
#head{}
#head .navbar-brand{
  font-size: 1.8rem;
}
@media only screen and (max-width: 320px){
  #head .navbar-brand{
    font-size: 25px;
    margin-right: 0px;
  }
}

#head li a{
  font-size: 0.87rem;
  line-height: 0.87rem;
  transition: background-color 0.4s, color 0.4s;
}
#head li:hover a{
  background-color: #0081ff!important;
  color: #fff!important;
}
/* main section */
#main_sec{

}
#main_sec .row{

}
@media (min-width: 992px) {

  #main_sec .container{
    padding-top: 6.25rem!important;
    padding-bottom: 6.25rem!important;
  }
  #main_sec .right-side .custom-size{
    font-size: 2.2rem;
  }
  #main_sec .right-side .pad-top{
    padding-top: 2.81rem!important;
  }
  #main_sec .custom_position{
    position: absolute;
    right: 0px;
    bottom: -2.2rem;
    width: 53%!important;
  }

}



@media (min-width: 1200px ) {
  #main_sec .container{
    padding-top: 150px!important;
  }
  #main_sec .custom_position{
    bottom: -2.5rem;
  }
}


}





/* blog section */
#blog{}
#blog .text-black-50{
  color: #575757!important;
}
#blog .fr-left .top .cus_wid{
  width: 90%;
  margin: 0 auto;
}
#blog .first_row .fr-right{
  background: url("../img/blog-right/bg-xs.jpg") no-repeat center center;
  background-size: 100% 100%;
}
#blog .secound_row .srl_left{
  background-color: #eaeaea!important;
}
.cus_font_wei{
  font-weight: 900!important;
  line-height: 30px;
}
#blog .secound_row .srl_right{
  background-color: #000!important;
}
#blog .secound_row .sr_right{
  background-color: #e91d62!important;
}
#blog .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  #blog .container .secound_row .w-md-48{
    width: 48%!important;
  }
}
@media (min-width: 992px) {
  #blog .first_row .w-md-48{
    width: 48%!important;
  }
  #blog .first_row .mt-md-8rem{
    margin-top: 8rem!important;
  }
  #blog .mt-lg-2rem{
    margin-top: 2rem!important;
  }
}
@media (min-width: 1200px) {
  #blog .mt-lg-2rem{
    margin-top: 2.5rem!important;
  }
  #blog .w-xl-48{
    width: 48%!important;
  }
  #blog .mt-xl-0{
    margin-top: 0rem!important;
  }
}
/* who we are */
#who_we_are{}
#who_we_are .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
#who_we_are .custom_btn{
  background-color: #3b4374!important;
}
/* profile */
#profile{
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 992px){
  #profile{
    padding-bottom: 0px;
  }
  #gallery .h-xl-101{
    height: 100.2%!important;
  }
}

/* what I do */
#services{}
#services .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
/* clients what i do */
#clients{
  background: url("../img/client/background/cb-sm.png") no-repeat center center;
  background-size: 100% 100%;
}
#clients .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
/* copntact section */
#contact{
  /* background: url("../img/footer/footer-background.png") no-repeat center center;
  background-size: 100% 100%; */

}
@media (min-width: 576px) {
  #contact .container{
    max-width: 100%!important;
  }
}
#contact .first-row{
  padding-top: 100px;
  background-color: #7575756b;
}
@media (min-width: 1200px) {
  #contact{
    margin-top: -1px!important;
    background-color: #343a40;
  }
  #contact .first-row{
    background-color: #343a40!important;
  }
  #contact .container{
    max-width: 1140px!important;
  }
}




#contact #cont_wrap{

}
#cont_wrap .con_item{
  width: 60%;
}

@media only screen and (max-width: 375px) {
  #cont_wrap .con_item{
    width: 85%!important;
  }
}
@media (min-width: 1200px) {
  .text-xl-white{
    color: #fff!important;
  }
}
#cont_wrap .con_item .background{
  width: 70px!important;
  height: 70px!important;
}
#cont_wrap .con_item:nth-child(1) .background{
  background: url("../img/contact-icon/mail.png") no-repeat center center;
  background-size: 90% 58%;
}
#cont_wrap .con_item:nth-child(2) .background{
  background: url("../img/contact-icon/smartphone.png") no-repeat center center;
  background-size: 60% 80%;
}
#cont_wrap .con_item:nth-child(3) .background{
  background: url("../img/contact-icon/map.png") no-repeat center center;
  background-size: 85% 75%;
}
/* right side contact form */
#send_hi{
  margin: 0 auto;
  margin-top: 75px;
}
#send_hi .input_wrap{

}
#send_hi .input_wrap label{
  width: 25%;
  color: #fff;
  font-family: MontserratBold;
}
#send_hi .input_wrap input,
#send_hi .input_wrap textarea{
  width: 75%;
  background-color: #2b2b2b;
  border-radius: 20px;
  border-width: 0px;
  padding: 7px 15px;
}
#send_hi #submit{
  border: none;
}
input,
textarea{
  outline: none;
  color: #fff;
}
input, textarea[value]{
  color: #fff;
}

/* responsiveness */
@media (max-width: 375px) {
  #send_hi{
    width: 80%!important;
  }
  #send_hi .input_wrap{
    flex-direction: column;
  }
  #send_hi .input_wrap input,
   #send_hi .input_wrap textarea{
      width: 100%;
      border-radius: 0px;
  }
}

/* social share nav bar */
#social_nav_wrap{
  background-color: #343a40!important;
}
#social_nav_wrap #social_nav{
  justify-content: space-between;
  flex-flow: row wrap;
}
#social_nav a{
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1.5px solid #fff;
  text-align: center;
  border-radius: 50%;
}
#social_nav a i{
  color: #fff;
  font-size: 25px;
  line-height: 45px;
  vertical-align: middle;
  display: inline-block;
}
/* footer */
#footer{
  background-color: #000;
}
.full_para{
  display: none;
}
@media (min-width: 1200px) {
  .full_para{
    display: inline;
  }
}
















/*


latobold
latoheavy
lato
LeckerliOne
MontserratBlack
MontserratBold
Montserrat


 */


















































































































































































/*  */
